.colors-haburg-blau-color{ 
	color:#00174d;
}

.colors-haburg-blau-bg{
	background-color: #C2DEf3;
}

.colors-hamburg-half-black-color{
	color:#00000075;
}

.colors-black-border{ 
	border:1px block solid; 
 }

